doctype html
html
  head
    <meta charset="utf-8">

    //- Mobile Specific Metas
    <meta name="viewport" content="width=device-width, initial-scale=1">

    if title
      title #{ title }
    else
      title Farmacos

    //- block styles
    //- FONT
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">

    //- CSS
    //- link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css', rel='stylesheet', type="text/css")
    link(href="/bootstrap/css/bootstrap.min.css", type='text/css', rel='stylesheet')

    //- Favicon
    link(rel="icon" type="image/png" href="images/favicon.png")

    //- block scripts
    script(defer src="/bootstrap/js/bootstrap.bundle.min.js")
    <script src="/js/materialize-pagination.js"></script>

  body
    div.container-fluid
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        div.container-fluid
          a.navbar-brand(href="/")
            <i class="bi-file-medical" style="font-size: 1.5rem; color: purple;"></i> Farmacos
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link(href="/") Link
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
      main.container
        block content