doctype html
html
  head
    if title
      title #{ title }
    else
      title Awesome shop powered by GraphCMS

    //- block styles
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css', rel='stylesheet', type="text/css")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css', rel='stylesheet')
    //- block scripts
  body
    .container
      nav.navbar.has-shadow
        .navbar-brand
          a.navbar-item.is-size-4(href='/') Farmacos
                  
        .navbar-end
          a.nav-item
            i.fa.fa-shopping-cart &nbsp;
            | View cart (
            span.snipcart-total-items 0
            | )
      br
      block content